<app-header></app-header>

<div class="container">
  <h1>
    {{ title }}!
  </h1>
  <!-- <app-directiva></app-directiva> -->
  <!-- <app-clientes></app-clientes> -->
  
  <!-- Directiva de angular que indica donde se van a renderizar y mostrar el contenido de cada ruta -->
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>